body {
  background-color: rgb(25, 49, 70);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-size: cover;
  max-width: 1024px;
  margin: 0 auto;
  color: rgb(238, 214, 170);
  text-align: center;
}
.form-container {
  background: rgba(60, 72, 77, 0.85);
  width: 70vw;
  text-align: left;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}
.question-text{
	padding:15px;
}
.form-elements{
	padding:15px;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}
.submit-button {
  color: #495057;
  margin: 10px auto;
  text-align: center;
  background-color: rgb(92, 216, 148);
  width: 200px;
  height: 2.375rem;
  border-radius: 5px;
  font-weight: bold;
  border: hidden;
}
.submit-botton:hover {
  color: rgb(51, 143, 92);
  background-color: aliceblue;
}
